:root{
    --color-1: white;
}

@font-face {
    font-family: "robot-condensed-regular";
    src: url(../storage/font/static/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "roboto-condensed-bold";
    src: url(../storage/font/static/RobotoCondensed-Bold.ttf);
}
